version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: gym-postgres
    environment:
      POSTGRES_DB: gym
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: